<div id="container">

  <nav>
    <mat-toolbar [ngStyle]="{'background-color':'#4a5899'}">
      <mat-toolbar-row>
        <span [ngStyle]="{'color':'#f7f9f9'}">Administrador de Campañas</span>
        <span class="example-spacer"></span>
        <a href="" [routerLink]="[ '/addCampaing']">Añadir Campañas</a>&nbsp;&nbsp;&nbsp;
        <a href="">Eliminar Campañas</a>&nbsp;&nbsp;&nbsp;
        <a href="" [routerLink]="[ '/addDataMaster']">Añadir Categoría</a>&nbsp;&nbsp;&nbsp;
        <a href="" [routerLink]="[ '/aportacion']">Aportaciones</a>&nbsp;&nbsp;&nbsp;
        <a href="" [routerLink]="[ '/dataMasterList']">Lista Datos Maestros</a>&nbsp;&nbsp;&nbsp;
        <mat-icon class="example-icon"><a href="" [routerLink]="[ '/login']">logout</a></mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
  
  <section>
    <div id="Opciones">
      <a href="" [routerLink]="[ '/addCampaign' ]">Añadir Campaña<img src="../../assets/img/campaña.svg"></a>
      <a href="" [routerLink]="[ '/dataMasterList' ]">Listar Datos Maestros<img id="central" src="../../assets/img/favorita.svg"></a>
      
    </div>
  </section>

</div>